body {
    margin: 0;
    /*overflow: hidden;*/
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #1F2937;
  }
  
 .logo {
    font-size: 24px;
    font-weight: 900;
  }

.header-links {
    color: #808080;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 16px;
}

.header,
.footer {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    justify-content: space-around;
}

.header,
.footer,
.hero {
    background-color: #FFEC00;
}

.hero,
.information,
.quote,
.cta {
    padding: 96px 64px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.headline {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

button {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    margin: 12px 0;
    font-weight: 600;
    font-size: 18px;
}

button,
.cta-container{
    background: #E62A8B;
}

.info-header {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 48px;
    text-align: center;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.info-content {
    max-width: 150px;
    text-align: center;
}

.info-image {
    width: 100px;
    border: 2px solid #E62A8B;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.quote {
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    max-width: 700px;
}

.quote-text {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 18px;
}

.quote-author {
    font-weight: 700;
    text-align: right;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    display: flex;
    padding: 32px 56px;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
    border-radius: 5px;
}

.cta-header {
    font-size: 24px;
    font-weight: 700;
}

.cta-text,
.cta-header {
    color:#F9FAF8
}

.cta-button {
    border: 2px solid #F9FAF8;
}

.footer {
    font-size: 12px;
}

