body {
    margin: 0;
    /*overflow: hidden;*/
    font-family: Roboto, sans-serif;
  }
  
 .logo {
    font-size: 24px;
    font-weight: 700;
  }

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 16px;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 12px 24px;
    align-items: center;
    justify-content: space-around;
    color: #F9FAF8
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 64px;
}

.headline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #F9FAF8;
}

button {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    background: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    margin: 12px 0;
    font-weight: 600;
}

.hero-image {
    margin-left: 90px;
}

.information {
    padding: 64px;
}

.info-header {
    font-weight: 800;
    font-size: 32px;
    color: #1F2937;
    margin: 0 0 32px;
    text-align: center;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.info-content {
    max-width: 200px;
}

.info-text {
    font-size: 18px;
    color:#1F2937;
    text-align: center;
}

.info-image {
    width: 100px;
    border: 2px solid #1F2937;
    border-radius: 10px;
    padding: 10px;
}

.quote {
    padding: 72px 64px;
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    max-width: 700px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 18px;
}

.quote-author {
    font: size 24px;
    font-weight: 700;
    text-align: right;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 64px;
}

.cta-container {
    display: flex;
    background-color: #3882f6;
    padding: 32px 48px;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    border-radius: 5px;
}

.cta-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.cta-text {
    font-size: 18px;
    color:#F9FAF8
}

.cta-button {
    border: 2px solid #F9FAF8;
}


